<a href="https://colab.research.google.com/github/ErikSeguinte/DataOfIceAndFire/blob/master/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, json
import pandas as pd
import cufflinks as cufflinks
from IPython.display import display, HTML

In [2]:
asoiaf = pd.read_json('books.jl', 'records', lines = True)

In [3]:
asoiaf

                    title               chapter        score
0    A Dance with Dragons      ADWD 1: Prologue  Score: 8.09
1    A Dance with Dragons      ADWD 2: Tyrion I  Score: 8.01
2    A Dance with Dragons    ADWD 3: Daenerys I  Score: 7.25
3    A Dance with Dragons         ADWD 4: Jon I  Score: 8.12
4    A Dance with Dragons        ADWD 5: Bran I  Score: 8.14
..                    ...                   ...          ...
339     A Game of Thrones  AGOT 69: Daenerys IX  Score: 7.60
340     A Game of Thrones    AGOT 70: Tyrion IX  Score: 8.42
341     A Game of Thrones       AGOT 71: Jon IX  Score: 8.25
342     A Game of Thrones   AGOT 72: Catelyn XI  Score: 8.63
343     A Game of Thrones   AGOT 73: Daenerys X  Score: 9.09

[344 rows x 3 columns]

In [19]:
asoiaf[['pov', 'number']] =  asoiaf['chapter'].str.rsplit(': ').str[-1].str.split(" ", expand=True).iloc[:,0:2]

In [20]:
asoiaf

                    title               chapter        score       pov number
0    A Dance with Dragons      ADWD 1: Prologue  Score: 8.09  Prologue   None
1    A Dance with Dragons      ADWD 2: Tyrion I  Score: 8.01    Tyrion      I
2    A Dance with Dragons    ADWD 3: Daenerys I  Score: 7.25  Daenerys      I
3    A Dance with Dragons         ADWD 4: Jon I  Score: 8.12       Jon      I
4    A Dance with Dragons        ADWD 5: Bran I  Score: 8.14      Bran      I
..                    ...                   ...          ...       ...    ...
339     A Game of Thrones  AGOT 69: Daenerys IX  Score: 7.60  Daenerys     IX
340     A Game of Thrones    AGOT 70: Tyrion IX  Score: 8.42    Tyrion     IX
341     A Game of Thrones       AGOT 71: Jon IX  Score: 8.25       Jon     IX
342     A Game of Thrones   AGOT 72: Catelyn XI  Score: 8.63   Catelyn     XI
343     A Game of Thrones   AGOT 73: Daenerys X  Score: 9.09  Daenerys      X

[344 rows x 5 columns]

In [27]:
asoiaf['pov'].iplot(kind='bar')